
<div class="bg-dark text-light" style="position: sticky; bottom: 0; z-index: 10; width: 100%; text-align: center;">
    <div class="container">
        <div class="row">
            <div class="col">
                <small></small>
            </div>
            <div class="col">
                <small></small>
            </div>
            <div class="col">
                <small></small>
            </div>
            <div class="col text-end">
                <small>Maid by Xorg</small>
            </div>
        </div>
    </div>
</div>
