{% import '@NeoxMakeBundle/Partial/_sortable/_macros.twig' as macros %}

{% for header in headers %}
    <td>
        {% set value    = attribute(item, header.key) %}
        {% set type     = getPropertyType(item, header.key) %}

        {% if  header.key == "loop" %}
            {{ loop.parent.loop.index }}
        {% elseif header.thumbtack is defined %}
            {% if value %}
                <twig:ux:icon name="fa6-solid:thumbtack" width="16" height="16" color="green" class="mx-2"/>
            {% else %}
                <twig:ux:icon name="fa6-solid:thumbtack-slash" width="16" height="16" color="red"  class="mx-2"/>
            {% endif %}
        {% else %}
            {# it will encapsulate in <td> </td> #}

            {{ macros.render_value(value, type, header) }}

        {% endif %}
    </td>
{% endfor %}
